*,
*::after,
*::before {
  box-sizing: border-box;
}

body,
main,
div,
span,
section,
article,
p,
h1,
h2,
h3,
h4,
h5,
h6,
footer,
header,
button,
input,
ul,
li {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
  font-family: "Roboto", sans-serif;
}

body {
  width: 100vw;
  height: 100vh;
  background: #f0f0f0;
}

main {
  width: 100%;
  height: 100%;
}

@font-face {
  font-family: "Roboto";
  src: url("assets/fonts/roboto/Roboto-Light.woff2") format("woff2");
  font-style: normal;
  font-weight: 300;
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  src: url("assets/fonts/roboto/Roboto-Regular.woff2") format("woff2");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  src: url("assets/fonts/roboto/Roboto-Medium.woff2") format("woff2");
  font-style: normal;
  font-weight: 500;
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  src: url("assets/fonts/roboto/Roboto-Black.woff2") format("woff2");
  font-style: normal;
  font-weight: 900;
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  src: url("assets/fonts/roboto/Roboto-Bold.woff2") format("woff2");
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}
header {
  background: transparent;
  display: block;
  width: 100%;
  height: 80px;
  position: fixed;
  transition: 0.4s;
  z-index: 100;
}

header .logo-font {
  color: green;
}

header nav {
  width: 100%;
  height: 120px;
}

.header-scrolled {
  cursor: pointer;
  background: rgba(254, 255, 255, 0.2);
  -webkit-backdrop-filter: blur(6px);
  backdrop-filter: blur(6px);
  border-bottom: 1px solid rgba(255, 255, 255, 0.9);
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
  height: 120px;
  height: 80px;
}

.header-scrolled:hover {
  background: hsla(141, 45%, 48%, 0.4);
}

.btn-default {
  display: flex;
  align-items: center;
  flex-direction: row;
  font-size: 5rem;
  color: red;
  all: unset;
  cursor: pointer;
  border: 2px solid #43b16a;
  position: relative;
  width: 4rem;
  height: 2rem;
  padding-inline: 10%;
  padding-block: 0.5rem;
  border-radius: 1rem;
  position: relative;
  transition: width 0.3s ease-in-out;
}

.btn-default:hover {
  width: 5rem;
}

.btn-default:hover svg {
  translate: 50% 0;
  opacity: 1;
}

.btn-default p {
  font-size: 0.5rem;
  color: #43b16a;
}

.btn-default svg {
  width: 2rem;
  position: absolute;
  top: 0;
  left: 70%;
  transition: translate 0.3s ease-in-out, opacity 0.2s ease-in-out;
  opacity: 0;
  fill: #43b16a;
}

.sec__landing-page {
  background: #f0f0f0;
}

.sec__landing-page .landing-site__bg {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  width: 90vw;
  height: 90%;
  background: linear-gradient(to bottom, #358d54, #5cc180);
  box-shadow: inset -10% -10% 0px rgba(0, 0, 0, 0.1), inset -900px -180px 0px rgba(0, 0, 0, 0.2);
  border-radius: 0 0 clamp(10rem, 10vw, 20rem) 0;
  padding-top: 3rem;
}

.sec__landing-page .landing-site__text-wrapper {
  width: 40vw;
  height: 85%;
  display: flex;
  justify-content: end;
  flex-direction: column;
  align-items: center;
  gap: 10%;
  margin-left: 3rem;
}

.sec__landing-page .landing-site__text-wrapper h1 {
  color: white;
  font-size: calc(4rem + 1vw);
  font-family: Arial, Helvetica, sans-serif;
  width: 90%;
  margin-inline: auto;
}

.sec__landing-page .landing-site__text-wrapper p {
  color: white;
  font-size: 1.5rem;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 300;
  width: 90%;
  margin-inline: auto;
}

/*==============SVG========================================*/
.svg-wrapper {
  height: 95%;
  width: 30vw;
  padding: 2rem;
  align-self: center;
  margin-left: 20%;
  margin-bottom: 5rem;
  position: relative;
}

.svg-wrapper .cloud {
  position: absolute;
  top: 0;
  left: 0;
  height: 50%;
}

.svg-wrapper .c-1 {
  fill: hsla(142, 100%, 100%, 0.3);
  position: absolute;
  top: -5%;
  left: 0;
  height: 40%;
  translate: 0% 0%;
}

.svg-wrapper .c-2 {
  fill: hsla(0, 0%, 100%, 0.6);
  position: absolute;
  top: 10%;
  left: 0;
  height: 60%;
  translate: 40% 0%;
  animation: cloud 5s infinite ease-in-out;
}

.svg-wrapper .c-3 {
  fill: hsla(0, 0%, 90%, 0.4);
  position: absolute;
  top: 5%;
  left: 0;
  translate: -30% 0%;
  animation: cloud-2 5s infinite ease-in-out;
}

.main-svg {
  height: -moz-max-content;
  height: max-content;
  width: 35vw;
  position: absolute;
  top: 15%;
  left: 52%;
}

@keyframes cloud {
  0% {
    translate: 40% 0%;
  }
  35% {
    translate: 42% 0%;
  }
  65% {
    translate: 38% 0%;
  }
  100% {
    translate: 40% 0%;
  }
}
@keyframes cloud-2 {
  0% {
    translate: -30% 0%;
  }
  35% {
    translate: -29% 0%;
  }
  65% {
    translate: -31% 0%;
  }
  100% {
    translate: -30% 0%;
  }
}
@media screen and (max-width: 400px) {
  .sec__landing-page .landing-site__bg {
    display: flex;
    flex-direction: column;
    justify-content: start;
    width: 100vw;
    height: 100%;
    box-shadow: inset -10% -10% 0px rgba(0, 0, 0, 0.1), inset -900px -180px 0px rgba(0, 0, 0, 0.2);
    border-radius: 0 0 clamp(5rem, 10vw, 10rem) 0;
  }
  .sec__landing-page .landing-site__text-wrapper {
    width: 40vw;
    height: -moz-max-content;
    height: max-content;
    border: 1px solid red;
  }
  .sec__landing-page .landing-site__text-wrapper h1 {
    color: white;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
  }
  .sec__landing-page .landing-site__text-wrapper p {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 300;
  }
  .svg-wrapper {
    height: 95%;
    width: -moz-max-content;
    width: max-content;
    padding: 2rem;
    align-self: center;
    margin-left: 20%;
    margin-bottom: 5rem;
    border: 1p solid blue;
  }
  .svg-wrapper .cloud {
    top: 0;
    left: 0;
    height: 20%;
  }
  .svg-wrapper .c-1 {
    fill: hsla(142, 100%, 100%, 0.3);
    top: -5%;
    left: 0;
    height: 20%;
    translate: 0% 0%;
  }
  .svg-wrapper .c-2 {
    fill: hsla(0, 0%, 100%, 0.6);
    top: 10%;
    left: 0;
    height: 20%;
    translate: 20% 0%;
    animation: cloud 5s infinite ease-in-out;
  }
  .svg-wrapper .c-3 {
    fill: hsla(0, 0%, 90%, 0.4);
    top: 5%;
    left: 0;
    translate: -20% 0%;
    animation: cloud-2 5s infinite ease-in-out;
  }
  .main-svg {
    height: -moz-max-content;
    height: max-content;
    width: 35vw;
    height: auto;
  }
}
.main-page__wrapper {
  width: 100vw;
  height: -moz-max-content;
  height: max-content;
  display: grid;
  margin-block: 2rem;
  background: #f0f0f0;
  overflow: hidden;
}

.main-page__wrapper article {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.main-page__wrapper h2 {
  font-size: clamp(1rem, 10vw, 3rem);
  color: white;
  font-weight: 700;
}

.mp-holder__text p {
  font-size: clamp(1rem, 10vw, 1.5rem);
  font-weight: 400;
  color: green;
}

.main-page_holder-1,
.main-page_holder-2,
.main-page_holder-3 {
  background: #fbfbfb;
  width: 90vw;
}

.main-page_holder-1 {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  padding-block: 15vh;
  margin-bottom: 10vh;
  min-height: 60vh;
  height: -moz-max-content;
  height: max-content;
  margin-left: 10vw;
  border-radius: 4rem 0 0 4rem;
}

.main-page_holder-2 {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row-reverse;
  align-items: center;
  padding-block: 15vh;
  margin-bottom: 10vh;
  min-height: 60vh;
  height: -moz-max-content;
  height: max-content;
  margin-left: -10vw;
  border-radius: 0 4rem 4rem 0;
}

.main-page_holder-3 {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  padding-block: 15vh;
  margin-bottom: 10vh;
  min-height: 60vh;
  height: -moz-max-content;
  height: max-content;
  margin-left: 10vw;
  border-radius: 4rem 0 0 4rem;
}

.mp-holder__text {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: start;
  padding-inline: 1rem;
  border: 1px solid white;
  width: 30vw;
  height: auto;
}

.mp-holder__text h2 {
  color: red;
  font-size: clamp(1rem, 10vw, 3rem);
  color: #43b16a;
}

.mp-holder__text p:nth-child(2) {
  font-size: 1rem;
  font-size: clamp(1rem, 10vw, 1.5rem);
  font-weight: 400;
  color: #43b16a;
  padding-block: 2rem 3rem;
}

.mp-holder__text button {
  align-self: center;
}

.mp-holder__svg {
  display: grid;
  place-items: center;
  border: 1px solid black;
  width: -moz-max-content;
  width: max-content;
  overflow: hidden;
  height: 100%;
}

.mp-holder__svg svg {
  width: 60%;
  min-height: 100%;
  height: auto;
}

@media screen and (max-width: 400px) {
  .main-page__wrapper {
    width: 100vw;
    height: -moz-max-content;
    height: max-content;
    display: grid;
    margin-block: 2rem;
    background: blue;
  }
}
.device-page {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 15% 1fr 15%;
  background: linear-gradient(to bottom, #358d54, #5cc180);
}

.bg-con {
  display: block;
  width: 100%;
  height: auto;
  background: #f0f0f0;
}

.bg-con.bg-con-1 {
  border-radius: 0 0 0 150px;
  margin-left: 3px;
}

.bg-con.bg-con-2 {
  border-radius: 0 150px 0 0;
  margin-right: 3px;
}

.device-page__wrapper {
  display: flex;
  justify-content: space-between;
  margin-inline: auto;
  width: 80%;
  align-items: center;
  height: 100%;
}

.device-page__wrapper .mp-holder__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 2rem;
  padding-inline: 1rem;
  border: 1px solid transparent;
  width: 30vw;
  height: 45vh;
}

.device-page__wrapper .mp-holder__text h2 {
  color: red;
  text-align: center;
  width: 100%;
}

.device-page__wrapper .mp-holder__text p {
  color: blue;
  text-align: center;
  width: 100%;
}

.logo-holder {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
}

.logo-holder .logo-wrapper {
  display: block;
  width: -moz-max-content;
  width: max-content;
  height: 100%;
}

.logo-holder .logo-wrapper svg {
  width: 5rem;
  height: 5rem;
  fill: #5cc180;
}

.logo-wrapper svg:nth-child(1) {
  fill: #93d6ab;
}

.logo-wrapper svg:nth-child(2) {
  fill: #b8e4c8;
}

.logo-wrapper svg:nth-child(3) {
  fill: #ddf2e5;
}

.device-wrapper__svg {
  display: block;
  height: 70%;
  width: -moz-max-content;
  width: max-content;
}

.device-wrapper__svg svg {
  width: 100%;
}

.device-wrapper__svg .animated-svg__1 {
  animation: puls 7s infinite;
  translate: 0 0;
}

.device-wrapper__svg .animated-svg__2 {
  animation: puls 8s infinite;
}

@keyframes puls {
  0% {
    fill: #5cc180;
  }
  25% {
    fill: #f0f0f0;
  }
  50% {
    fill: #5cc180;
  }
  75% {
    fill: #f0f0f0;
  }
  100% {
    fill: #5cc180;
  }
}
.user--site__wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.user-comm__wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 45vh;
  border-radius: 2rem;
  background: linear-gradient(to right, green 50%, white 50%);
  border-top: 1px solid rgba(255, 255, 255, 0.8);
  border-right: 1px solid rgba(255, 255, 255, 0.8);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
}

.user-comm__wrapper s img {
  width: 100%;
  height: auto;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center center;
  object-position: center center;
  border-radius: inherit;
}

.user-comm__wrapper .img-holder {
  background: rgba(255, 255, 255, 0.3);
  -webkit-backdrop-filter: blur(2px);
  backdrop-filter: blur(2px);
  width: 100%;
  height: 20rem;
  position: absolute;
  inset: 0;
  border-radius: inherit;
}

.user-comm__text-holder {
  position: absolute;
  top: 30%;
  left: 0;
  width: 100%;
  height: 27.7vh;
  background: white;
  border-radius: 2rem 2rem 0 3rem;
  border-left: 4px solid green;
  border-top: 5px solid green;
}

.user-comm__text {
  display: block;
  padding-inline: 1rem;
}

.user-comm__text h2 {
  border-bottom: 2px solid green;
  padding-block: 1rem;
}

.user-comm__text p {
  background: lightgrey;
  padding: 0.8rem;
  border-radius: 1rem 1rem 1rem 1.5rem;
}

.car-icons {
  position: absolute;
  bottom: 0.6%;
  left: 60%;
  z-index: 1;
  translate: -50% 50%;
  display: inline-flex;
  width: 2rem;
  height: 2rem;
  margin-inline: auto;
  padding: 1rem;
  gap: 0.3rem;
  background: red;
  border: 5px solid green;
  border-radius: 3rem;
}

.car-icons svg {
  fill: grey;
  width: 1.7rem;
  height: 1.7rem;
}

footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  background: pink;
  height: 15vh;
}

footer .footer-content__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 98%;
  margin-inline: auto;
}

footer .footer-content__wrapper ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 20%;
  list-style-type: none;
  text-decoration: none;
}

footer .footer-content__wrapper ul li a {
  text-decoration: none;
  color: red;
  margin-bottom: 0.5rem;
  margin: 1rem;
}

footer .footer-content__wrapper ul li a:hover {
  color: red;
}

footer .footer-content__wrapper ul li a:active {
  color: green;
}

footer .footer-content__wrapper ul li a:focus {
  all: unset;
  border-bottom: 1px solid black;
  color: pink;
}

/*============================================*/
section {
  display: block;
  width: 100%;
  height: 100vh;
}

/*================================================================*/
/*==========================MainPage=======================================*/
/*==================================================================================*/
/*==============================Device Page===================================*/
/*=========================================================================================*/
/*================================Ending PAge========================================*/
/*================================User Card========================================*/
/*=========================Footer==================================*/
@media screen and (max-width: 400px) {
  .main-page_holder-1,
  .main-page_holder-2,
  .main-page_holder-3 {
    min-height: 100vh;
    min-height: 100dvh;
    height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-block: 2rem;
  }
  .mp-holder__text {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: -moz-max-content;
    height: max-content;
  }
  .mp-holder__svg {
    background: blue;
    display: block;
    width: 100%;
    height: auto;
  }
  .mp-holder__svg svg {
    width: 100%;
    height: auto;
  }
}
#about-page {
  background: grey;
}

#ending-page {
  background: darkblue;
} 

/*# sourceMappingURL=index.css.map */
