html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Roboto", sans-serif;
  font-size: 100%;
}
*,
*::after,
*::before {
  box-sizing: inheritx;
}
body {
  width: 100vw;
  height: 100vh;

  padding: 0;
  margin: 0;
}

main {
  width: 100%;
  height: 100%;
}
a {
  text-decoration: none;
  margin: 0;
}
ul,
li {
  list-style-type: none;
}
button {
  all: unset;
}
