html {
  --prime-dark: hsl(141, 45%, 38%);
  --prime-mid: hsl(141, 45%, 48%);
  --prime-light: hsl(141, 45%, 56%);
  --prime-lightest: hsl(141, 48%, 62%);
  --sec-light: hsl(0, 0%, 99%);
  --sec-dark: hsl(0, 0%, 96%);
  --bg-def: hsl(0, 0%, 94%);
  --bg-dark: hsl(0, 0%, 86%);
  --accent-color: hwb(43 4% 8%);
  //clouds
  --cloud-light: hsl(0, 0%, 100%, 0.1);
  --cloud-mid: hsl(0, 0%, 100%, 0.2);
  --cloud-dark: hsl(0, 0%, 100%, 0.4);
  //links
  --clr-link: hsl(0, 0%, 99%, 0.08);
  //fonts
  --font-l: hsl(0, 0%, 93%);
  --font-m: hsl(0, 0%, 55%);
  --font-d: hsl(0, 0%, 13%);
  --git-clr: hsl(0, 0%, 20%, 0.6);
  --clr-font-main: hsl(0, 0%, 13%, 0.5);
  --clr-font-mob: hsl(0, 0%, 93%, 0.8);
  //shadow
  --shd-dark: hsla(0, 0%, 0%, 0.8);
  --shd-light: hsla(0, 0%, 0%, 0.3);
  //btn
  --btn-green: var(--prime-mid);
  --btn-mobile: var(--sec-light);
  //
  --grid-clr-l: var(--sec-light);
  --grid-clr-d: var(--bg-dark);
  //
  --clr-h-brd: var(--prime-mid);
  --clr-h-brd-white: var(--sec-light);
}
html[data-theme="dark"] {
  --prime-dark: hsl(0, 0%, 15%);
  --prime-mid: hsl(0, 0%, 18%);
  --prime-light: hsl(0, 0%, 22%);
  --prime-lightest: hsl(0, 0%, 20%);
  --sec-light: hsl(0, 0%, 15%);
  --sec-dark: hsl(0, 0%, 15%);
  --bg-def: hsl(0, 0%, 10%);
  --bg-dark: hsl(0, 0%, 7%);
  --accent-color: hwb(43 4% 8%);
  //clouds
  --cloud-light: hsl(0, 0%, 100%, 0.1);
  --cloud-mid: hsl(0, 0%, 100%, 0.2);
  --cloud-dark: hsl(0, 0%, 100%, 0.4);
  //links
  --clr-link: hsl(0, 0%, 99%, 0.08);
  //fonts
  --font-l: hsl(0, 0%, 85%, 0.4);
  --font-m: hsl(0, 0%, 55%);
  --font-d: hsl(0, 0%, 13%);
  --git-clr: var(--btn-green);
  --clr-font-main: var(--font-l);
  --clr-font-mob: var(--font-l);
  //shadow
  --shd-dark: hsla(0, 0%, 0%, 0.8);
  --shd-light: hsla(0, 0%, 0%, 0.3);
  //btn color
  --btn-green: hsl(141, 45%, 48%);
  --btn-mobile: hsl(141, 45%, 48%);
  //
  --grid-clr-l: var(--bg-dark);
  --grid-clr-d: var(--bg-dark);
  //
  --clr-h-brd: var(--btn-green);
  --clr-h-brd-white: var(--btn-green);
}
$primary-dark: var(--prime-dark);
$primary-mid: var (--prime-mid);
$primary-light: var(--prime-light);
$primary-light-s: var(--prime-lightest);
$secondary-light: var(--sec-light);
$secondary-dark: var(--sec-dark);
$bg-clr: var(--bg-def);
$bg-clr-d: var(--bg-dark);
$accent-color: var(--accent-color);

//clouds
$cloud-trans: 0.1;
$cloud-s: var(--cloud-light);
$cloud-m: var(--cloud-mid);
$cloud-l: var(--cloud-dark);

//link
$link-bg: var(--clr-link);

$font-clr-main: var(--clr-font-main);
$font-clr-main-mob: var(--clr-font-mob);
$clr-h-brd: var(--clr-h-brd);
$crl-w-brd: var(--clr-h-brd-white);
//fonts
$clr-font-l: var(--font-l);
$clr-font-m: var(--font-m);
$clr-font-d: var(--font-d);
$github-clr: var(--git-clr);

//grid color

$grid-shd-l: var(--grid-clr-l);
$grid-shd-d: var(--grid-clr-d);

//

$btn-color__mainpage: var(--btn-green);
$btn-color: $btn-color__mainpage;
$btn-color-mobile: var(--btn-mobile);
$btn-font: $clr-font-l;
$team-card-shadow: var(--shd-light);
$nav-shadow: var(--shd-dark);
// a hover
$a-hover: $primary-light-s;
$footer-a-h: var(--shd-light);
//clr-border
$clr-brd: $primary-dark;
$clr-brd-light: $secondary-light;

$brd-s: 1px solid;
//opacity

$opacity-s: 0.5;
$opacity-m: 0.7;
$opacity-l: 0.9;
//clouds
