$primary-dark: hsl(141, 45%, 38%);
$primary-mid: hsl(141, 45%, 48%);
$primary-light: hsl(141, 45%, 56%);
$primary-light-s: hsl(141, 48%, 62%);
$secondary-dark: hsl(0, 0%, 96%);
$secondary-light: hsl(0, 0%, 99%);
$bg-clr: hsl(0, 0%, 94%);
$bg-clr-d: hsl(0, 0%, 86%);
$accent-color: hwb(43 4% 8%);

//clouds
$cloud-trans: 0.1;
$cloud-s: hsl(0, 0%, 100%, $cloud-trans);
$cloud-m: hsl(0, 0%, 100%, $cloud-trans + 0.1);
$cloud-l: hsl(0, 0%, 100%, $cloud-trans + 0.3);

//link
$link-bg: hsl(0, 0%, 99%, 0.08);

//fonts

$clr-font-l: hsl(0, 0%, 93%);
$clr-font-m: hsl(0, 0%, 55%);
$clr-font-d: hsl(0, 0%, 13%);
$github-clr: hsl(0, 0%, 20%, 0.6);
$btn-color__mainpage: $primary-light;
$btn-color: $btn-color__mainpage;
$btn-color-mobile: $secondary-light;
$btn-font: $clr-font-l;
$team-card-shadow: hsla(0, 0%, 0%, 0.3);
$nav-shadow: hsla(0, 0%, 0%, 0.8);
// a hover
$a-hover: $primary-light-s;
$footer-a-h: hsl(0, 0%, 20%, 0.8);
//clr-border
$clr-brd: $primary-dark;
$clr-brd-light: $secondary-light;

$brd-s: 1px solid;
//opacity

$opacity-s: 0.3;
$opacity-m: 0.5;
$opacity-l: 0.9;
