@use "sass:math";

//=====    Typo ===== //
//
//main-heading
@mixin headingText($color) {
  font: {
    size: map-get($font-sizes, big-text);
  }
  font-weight: map-get($font-weights, bold);
  color: $color;
}
//
//mainpage-heading
@mixin mainText($color) {
  font: {
    size: map-get($font-sizes, header-small);
  }
  font-weight: map-get($font-weights, regular);
  color: $color;
}
//
//subheading
@mixin subheading($color) {
  font: {
    size: map-get($font-sizes, subheading);
  }
  font-weight: map-get($font-weights, thin);
  color: $color;
}
//
@mixin biggestheading($color) {
  font: {
    size: map-get($font-sizes, subheading-small);
  }
  font-weight: map-get($font-weights, thin);
  color: $color;
}
//subheading small
@mixin subheadingSmall($color) {
  font: {
    size: map-get($font-sizes, subheading-small);
  }
  font-weight: map-get($font-weights, thin);
  color: $color;
}
//
//small text
@mixin small-text($color) {
  font: {
    size: map-get($font-sizes, default-text);
  }
  font-weight: map-get($font-weights, thin);
  color: $color;
}
@mixin buttonText($color) {
  font: {
    size: map-get($font-sizes, button-text);
  }
  font-weight: map-get($font-weights, thin);
  color: $color;
}
//
// quader
@mixin boxView() {
  width: 100vw;
  height: 100vh;
}
@mixin boxProz() {
  width: 100%;
  height: 100%;
}
@mixin boxQuarter($size, $circle: false) {
  display: block;
  width: $size;
  height: $size;
  @if $circle {
    border-radius: $brd-rad-m;
  }
}
@mixin boxRectangle($width, $height) {
  display: block;
  width: $width;
  height: $height;
}
//=====    Main page Sections ===== //
@mixin flexMainPage($direction) {
  display: flex;

  flex-wrap: wrap;
  flex-direction: $direction;
  align-items: center;
  padding-block: 15vh;
  margin-bottom: 10vh;
  min-height: 60vh;
}
//=====    Flex Default ===== //
@mixin flexBasis($direction, $align-item, $justify-con) {
  display: flex;
  flex-direction: $direction;
  align-items: $align-item;
  justify-content: $justify-con;
}
//fast Grid middle
@mixin gridMiddle() {
  display: grid;
  place-content: center;
}
//=====    Position Abs ===== //
@mixin absoluteItem($top, $left, $right, $bottom, $index) {
  position: absolute;
  top: $top;
  left: $left;
  right: $right;
  bottom: $bottom;
  z-index: $index;
}

@mixin animationPage($x, $y, $delay) {
  translate: $x $y;
  transition-delay: $delay;
}

//=========================//
$font-weights: (
  "thin": 300,
  "regular": 400,
  "medium": 500,
  "bold": 700,
  "thick": 900,
);

$font-sizes: (
  "big-text": clamp(2rem, 6vw,4rem),
  "header-big": clamp(3rem, 6vw, 5rem),
  "header-small": clamp(1rem, 6svw, 6rem),
  "subheading": clamp(1.1rem, 4vw, 2.3rem),
  "subheading-small": clamp(1rem, 6vw, 1.5rem),
  "default-text": clamp(0.9rem, 3vw, 1.3rem),
  "button-text": clamp(0.7rem, 4vw, 1.4rem),
);
//
// sizes
$font-size-def: 1rem;

//padding
$padd-xs: math.div(0.5rem, 2);
$padd-small: math.div(1rem, 2);
$padd-def: $font-size-def;
$padd-med: $font-size-def * 1.5;
$padd-big: $font-size-def * 2;
//margin
$marg-small: math.div(1rem, 2);
$marg-def: $font-size-def;
$marg-big: $font-size-def * 2;

//border-radius

$brd-rad-s: math.div(1rem, 2);
$brd-rad-def: 1rem;
$brd-rad-m: $brd-rad-def * 2;

//icons

$icon-s: 2rem;
$icon-m: 4rem;
$icon-l: 4rem;

//opacity

$opacity-s: 0.3;
$opacity-m: 0.5;
$opacity-l: 0.7;

$opac-device: $opacity-m;

// User card
$member-card-s-width: min(100vw, 20rem);
$member-card-s-height: min(65vh, 25rem);
$member-card-width: min(100vw, 250px);
$member-card-height: min(65vh, 300px);


