.btn-default {
  @include flexBasis(row, center, center);
  $btn-color: $btn-color__mainpage;
  all: unset;
  cursor: pointer;
  border: 3px solid $btn-color;
  position: relative;
  width: 17vw;
  height: max-content;
  padding-inline: $padd-def;
  padding-block: $padd-def;
  border-radius: $brd-rad-def;
  position: relative;
  transition: padding-inline 0.3s ease-in-out;
  @media screen and (max-width: 400px) {
    width: 40vw;
  }
  @media screen and (min-width: 400px) {
    width: 35vw;
  }
  @media screen and (min-width: 600px) {
    width: 28vw;
  }
  @media screen and (min-width: 1000px) {
    width: 17vw;
  }
  .btn-default_text {
    text-align: center;
    @include buttonText($btn-color);
    padding: 0;
    padding-block: 0.3rem;
    width: 100%;
    height: max-content;
  }
  &:active {
    border-color: $btn-color;
    background: $btn-color;

    & .btn-default_text {
      color: $btn-font;
    }
    svg {
      translate: 50% 0;
      opacity: 1;
    }
  }
  &:hover {
    padding-inline: $padd-def calc($marg-big + 0.5rem);
    svg {
      translate: 50% 0;
      opacity: 1;
    }
  }

  svg {
    width: 2rem;
    position: absolute;
    top: 0;
    right: 25px;
    transition: translate 0.3s ease-in-out, opacity 0.2s ease-in-out;
    opacity: 0;
    fill: $btn-color;
  }
}
