header {
  @include flexBasis(row, center, left);
  background: transparent;
  align-items: center;

  width: 100vw;
  height: 80px;
  // padding-inline: 4rem;
  position: fixed;
  transition: 0.4s;

  z-index: 15;

  .logo-font {
    color: red;
    width: max-content;
  }
  .links-header-holder {
    .nav-btn__wrapper {
      input[type="checkbox"] {
        display: none;
        width: 0;
        top: -99999px;
        position: absolute;
      }
      label {
        width: 2rem;
        height: 1.5rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;

        .ham-menue {
          display: block;
          height: 4px;
          border-radius: 2rem;
          width: 100%;
          background: white;
        }
      }
    }
    .nav-link__wrapper {
      @include flexBasis(row, center, center);

      li {
        display: inline-flex;
        align-items: center;
        margin-inline: 2rem;
        a {
          text-decoration: none;
        }
      }
    }
  }
}

.header-scrolled {
  cursor: pointer;
  background: rgba(254, 255, 255, 0.2);
  backdrop-filter: blur(6px);
  border-bottom: 1px solid rgba(255, 255, 255, 0.9);
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
  height: 120px;

  height: 80px;
  &:hover {
    background: hsl(141, 45%, 48%, 0.4);
  }
}

/*=====================================================*/
@media screen and (max-width: 400px) {
  .header-scrolled {
    cursor: pointer;
    background: rgba(248, 248, 248, 0.2);
    backdrop-filter: blur(4px);
    border-bottom: 1px solid rgba(255, 255, 255, 0.9);
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
    height: 10vh;

    &:hover {
      background: hsla(150, 92%, 24%, 0.7);
    }
  }
  header {
    // padding-left: 2rem;
    // position: fixed;
    width: 100vw;

    top: 0px;
    height: 10vh;
    left: 0px;
    .logo-font {
      color: white;
      width: max-content;
      margin-block: auto;
      font-size: 1.3rem;
      color: $clr-font-l;
    }

    .links-header-holder {
      // position: relative;
      padding-inline: 0;
      width: 90%;
      .nav-link__wrapper {
        @include absoluteItem(0, 0, 0, 0, 0);
        @include flexBasis(column, center, center);

        height: min-content;
        width: 100%;
        translate: 0 -100%;
        transition: translate 0.2s ease-in-out;
        background: white;
        border-radius: 0 0 2rem 2rem;
        li {
          width: 100%;
          translate: 0 -100%;
          margin: 0;
          padding-block: 1rem;
          margin-inline: 0rem;
          a {
            width: inherit;
            font-size: 1rem;
            text-align: center;
            margin: 0;
            padding: 0;
          }
        }
      }
    }
  }
}
.links-header-holder {
  .nav-btn__wrapper {
    input[type="checkbox"] {
      display: none;
      width: 0;
      top: -99999px;
      position: absolute;
    }
    label {
      @include flexBasis(column, center, space-between);
      @include absoluteItem(50%, 50%, 0%, 0, 15);
      translate: -50% -50%;
      width: 3.5rem;
      height: 3rem;

      .ham-menue {
        display: block;
        height: 4px;
        border-radius: 2rem;
        width: 100%;
        background: white;
        transition: width 0.2s ease-in-out;
      }
    }
  }
}

#nav-btn:checked ~ ul {
  translate: 0 0;
  li {
    transition: 0.3s ease;
    translate: 0 0;
    &:nth-child(1) {
      transition: 0.9s;
    }
    &:nth-child(2) {
      transition: 0.7s;
    }
    &:nth-child(3) {
      transition: 0.5;
    }
    &:nth-child(4) {
      transition: 0.3s;
    }
  }
}
#nav-btn:checked + label span {
  background: red;
  &.ham-menue__1 {
    width: 70%;
    align-self: end;
  }
  &.ham-menue__2 {
    width: 60%;
    align-self: end;
  }
  &.ham-menue__3 {
    width: 40%;
    align-self: end;
  }
}
