/*=====================================================*/
@media screen and (max-width: 700px) {
  header {
    @include boxRectangle(100vw, 8vh);
    position: fixed;
    z-index: 5;
    background: hsl(141, 45%, 48%, 0.6);
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(6px);
    top: 0;
    display: inline-flex;
    padding-inline: 1.6rem;

    .logo-font {
      color: $secondary-dark;
      width: max-content;
      height: max-content;
      margin-block: auto;
      text-align: center;
      font-size: 1.6rem;
      color: transparent;
    }

    .links-header-holder {
      padding-inline: 0;
      width: 90%;
      .nav-link__wrapper {
        @include absoluteItem(0, -34%, 0, 0, 20);
        @include flexBasis(column, center, center);
        box-shadow: 0 0 30px $nav-shadow;
        height: 30vh;
        width: 90vw;
        translate: 0% -120%;
        transition: translate 0.2s ease-in-out;
        background: $secondary-dark;
        border-radius: 0 0 2rem 2rem;
        padding-block: 1rem;

        li {
          display: inline-flex;
          align-items: center;
          justify-content: center;
          width: 80%;
          translate: 0 0%;
          margin: 0;
          padding-block: 1rem;
          margin-left: -2rem;
          &:nth-child(1) {
            translate: 0 -350%;
          }
          &:nth-child(2) {
            translate: 0 -350%;
          }
          &:nth-child(3) {
            translate: 0 -300%;
          }
          &:nth-child(4) {
            translate: 0 -250%;
          }
          a {
            width: inherit;
            font-size: 1rem;
            text-align: center;
            margin: 0;
            padding: 0;
            color: $primary-dark;
            &:active {
              color: $github-clr;
            }
            &:focus {
              color: $github-clr;
            }
          }
        }
      }
    }
  }
}
.links-header-holder {
  position: relative;
  .nav-btn__wrapper {
    input[type="checkbox"] {
      display: none;
      width: 0;
      top: -99999px;
      position: absolute;
    }
    label {
      @include flexBasis(column, center, space-between);
      @include absoluteItem(50%, 70%, 0%, 0, 25);
      translate: 20% -50%;
      width: 2rem;
      height: 1.5rem;

      .ham-menue {
        display: block;
        height: 4px;
        border-radius: 2rem;
        width: 100%;
        background: $clr-font-l;
        transition: width 0.2s ease-in-out;
      }
    }
  }
}

#nav-btn:checked ~ ul {
  translate: 0% -10%;
  li {
    transition: 0.4s ease;
    translate: 0 0;
    margin-left: -2rem;
    &:nth-child(1) {
      transition-delay: 0.8s;
      border-bottom: 1px solid $bg-clr-d;
    }
    &:nth-child(2) {
      transition-delay: 0.6s;
      border-bottom: 1px solid $bg-clr-d;
    }
    &:nth-child(3) {
      transition-delay: 0.4s;
      border-bottom: 1px solid $bg-clr-d;
    }
    &:nth-child(4) {
      transition-delay: 0.2s;
    }
  }
}
#nav-btn:checked + label span {
  background: $btn-color;
  &.ham-menue__1 {
    width: 70%;
    align-self: end;
  }
  &.hams-menue__2 {
    width: 60%;
    align-self: end;
  }
  &.ham-menue__3 {
    width: 40%;
    align-self: end;
  }
}

/*=================================================================*/

/*=================================================================*/
@media screen and (min-width: 700px) {
  header {
    @include boxRectangle(100vw, 80px);
    @include flexBasis(row, center, left);

    position: fixed;
    top: 0;
    transition: 0.4s;
    z-index: 15;
    .logo-font {
      @include subheadingSmall($clr-font-l);
      width: max-content;
      margin-inline: 3.5vw 1vw;
    }
    .links-header-holder {
      .nav-btn__wrapper {
        input[type="checkbox"] {
          display: none;
        }
        label {
          display: none;
        }
      }
      .nav-link__wrapper {
        @include flexBasis(row, center, center);
        gap: 1rem;
        position: relative;

        li {
          display: inline-flex;
          align-items: center;
          padding-inline: 1rem;
          padding-block: 2rem 0.5rem;
          margin-bottom: 1.5rem;
          background: $link-bg;
          border-radius: 0 0 1rem 1rem;
          &:hover {
            border-bottom: 1px solid $clr-font-l;
            a {
              opacity: 0.8;
            }
          }
          a {
            text-decoration: none;
            @include small-text($clr-font-l);
            width: max-content;
            opacity: 0.5;
          }
        }
      }
    }
  }

  .header-scrolled {
    cursor: pointer;
    background: rgba(254, 255, 255, 0.2);
    backdrop-filter: blur(6px);
    border-bottom: 1px solid rgba(255, 255, 255, 0.9);
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
    height: 120px;
    width: 100vw;
    height: 80px;
    &:hover {
      background: hsl(141, 45%, 48%, 1);
    }
  }
}
