.team-member__wrapper {
  @include gridMiddle();
  @include boxRectangle(max-content, 90%);
  background: $secondary-light;
  border-radius: $brd-rad-m $brd-rad-m $brd-rad-m $brd-rad-m;
  margin-bottom: 22rem;

  &.team-member__wrapper:hover .team-card__frame {
    transform: none;
  }
  &.team-member__wrapper:hover
    .team-card__frame
    .team-card__back
    .team-card_img {
    translate: -50% -20px;
  }
  .team-card__frame {
    @include gridMiddle();
    @include boxRectangle(20rem, 25rem);
    box-shadow: 0 0 20px transparent;
    position: relative;
    transition: transform 0.8s;
    transform-style: preserve-3d;
    perspective: 500px;
    border-radius: $brd-rad-m $brd-rad-m $brd-rad-m $brd-rad-m;
    .team-card__front {
      @include boxRectangle($member-card-width, $member-card-height);

      background: $secondary-dark;

      position: absolute;
      translate: 0 85%;
      transform: rotateY(180deg);
      border-radius: 0 0 $brd-rad-m $brd-rad-m;
      span {
        @include boxRectangle(80%, 100%);
        @include flexBasis(column, center, center);
        margin-inline: auto;
        p,
        a {
          transform: rotateY(180deg);
          width: 90%;
          margin-inline: inherit;
        }
        p {
          @include small-text($github-clr);
          padding-block: $padd-def;
          margin-bottom: $marg-big;
          border: {
            top: 1px solid $github-clr;
            bottom: 1px solid $github-clr;
          }
        }
        a {
          align-self: flex-end;
          width: max-content;
          padding-bottom: $padd-small;
          margin-bottom: $marg-def;
          @include small-text($primary-mid);
          border-bottom: 1px solid $primary-mid;
        }
      }
    }
    .team-card__back {
      @include boxRectangle($member-card-width, 10rem);
      @include flexBasis(column, center, flex-end);

      background: linear-gradient(
        to bottom,
        $team-card-shadow -180%,
        $secondary-dark
      );
      position: absolute;
      backface-visibility: hidden;
      border-radius: $brd-rad-m $brd-rad-m 0 0;
      translate: 0 130%;

      .team-card_img {
        box-shadow: 0 0 20px transparent;
        @include boxRectangle(100%, 13rem);
        @include absoluteItem(-20%, 50%, 0, 0, 0);
        translate: -50% -93.5%;
        transition: translate 0.3s, height 0.4s;
        margin-inline: auto;
        border-radius: $brd-rad-m $brd-rad-m 0 0;
        background: {
          color: $secondary-light;
          image: url("/assets/svg/Images-pana.svg");
          position: center center;
          repeat: no-repeat;
        }
      }
      p {
        margin-bottom: $marg-def;
        @include subheadingSmall($primary-mid);

        letter-spacing: 0.1;
      }
      .team-card-icons {
        @include flexBasis(row, center, center);
        gap: $padd-xs;
        margin-bottom: $marg-def;
        img {
          @include boxQuarter($icon-s, $circle: false);
          background: rgba(255, 255, 255, 0.2);
          border-radius: $brd-rad-s;
          padding: 0.2rem;
        }
      }
    }
  }
}
@media screen and (min-width: 900px) {
  .team-member__wrapper {
    @include gridMiddle();
    @include boxRectangle(89%, 49%);
    background: none;

    &:nth-child(odd) {
      margin-top: 4vw;
    }
    &:nth-child(even) {
      margin-top: -4vw;
    }
    &.team-member__wrapper:hover .team-card__frame {
      transform: rotateY(180deg);
    }
    &.team-member__wrapper:hover
      .team-card__frame
      .team-card__back
      .team-card_img {
      translate: -50% 0px;
    }
    .team-card__frame {
      @include gridMiddle();
      @include boxRectangle(20rem, 25rem);
      box-shadow: 0 0 20px $team-card-shadow;
      position: relative;

      transition: transform 0.8s;
      transform-style: preserve-3d;
      perspective: 500px;
      border-radius: $brd-rad-m $brd-rad-m $brd-rad-m$brd-rad-m;
      .team-card__front {
        @include boxRectangle($member-card-width, $member-card-height);

        translate: 0 0;
        background: linear-gradient(to bottom, $primary-dark, $primary-light);
        position: absolute;

        border-radius: $brd-rad-m $brd-rad-m $brd-rad-m $brd-rad-m;
        span {
          @include boxRectangle(80%, 100%);
          @include flexBasis(column, center, center);
          margin-inline: auto;
          p,
          a {
            transform: rotateY(360deg);
            width: 90%;
            margin-inline: inherit;
          }
          p {
            @include small-text($clr-font-l);
            padding-block: $padd-def;
            margin-bottom: $marg-big;
            border: {
              top: 1px solid $clr-font-l;
              bottom: 1px solid $clr-font-l;
            }
          }
          a {
            align-self: flex-end;
            width: max-content;
            padding-bottom: $padd-small;
            margin-bottom: $marg-def;
            @include small-text($github-clr);
            border-bottom: 1px solid $github-clr;
          }
        }
      }
      .team-card__back {
        @include boxRectangle($member-card-width, $member-card-height);
        @include flexBasis(column, center, flex-end);
        background: linear-gradient(to bottom, $primary-dark, $primary-light-s);
        position: absolute;
        backface-visibility: hidden;
        border-radius: $brd-rad-m $brd-rad-m $brd-rad-m $brd-rad-m;
        translate: 0 0;
        .team-card_img {
          box-shadow: 0 0 20px $team-card-shadow;
          @include boxRectangle(75%, 90%);
          @include absoluteItem(0, 50%, 0, 0, 0);
          translate: -50% -90px;
          transition: translate 0.3s, height 0.4s;
          margin-inline: auto;
          border-radius: inherit;
          background: {
            color: $secondary-light;
            image: url("/assets/svg/Images-pana.svg");
            position: center center;
            repeat: no-repeat;
          }
        }
        p {
          margin-bottom: $marg-def;
          @include subheadingSmall($clr-font-l);

          letter-spacing: 0.1;
        }
        .team-card-icons {
          @include flexBasis(row, center, center);
          gap: $padd-xs;
          margin-bottom: $marg-def;
          img {
            @include boxQuarter($icon-s, $circle: false);
            background: rgba(255, 255, 255, 0.2);
            border-radius: $brd-rad-s;
            padding: 0.2rem;
          }
        }
      }
    }
  }
}
