.team-member__wrapper {
  @include gridMiddle();
  @include boxRectangle(100%, 80%);
  &:nth-child(odd) {
    margin-top: 4vw;
  }
  &:nth-child(even) {
    margin-top: -4vw;
  }
  &.team-member__wrapper:hover .team-card__frame {
    transform: rotateY(180deg);
  }
  &.team-member__wrapper:hover
    .team-card__frame
    .team-card__back
    .team-card_img {
    translate: -50% 0px;
  }
  .team-card__frame {
    @include gridMiddle();
    @include boxRectangle(20rem, 25rem);
    position: relative;
    transition: transform 0.8s;
    transform-style: preserve-3d;
    perspective: 500px;
    border-radius: $brd-rad-m;
    .team-card__front {
      @include boxRectangle(20rem, 25rem);

      background: linear-gradient(to bottom, $primary-dark, $primary-light);
      position: absolute;
      border-radius: inherit;
      span {
        @include boxRectangle(80%, 100%);
        @include flexBasis(column, center, space-between);
        margin-inline: auto;
        p,
        a {
          transform: rotateY(180deg);
          width: 90%;
          margin-inline: inherit;
        }
        p {
          color: red;
          padding-top: $padd-big;
        }
        a {
          align-self: flex-end;
          padding-bottom: $padd-big;
        }
      }
    }
    .team-card__back {
      @include boxRectangle(20rem, 25rem);
      @include flexBasis(column, center, flex-end);
      background: linear-gradient(to bottom, $primary-dark, $primary-light-s);
      position: absolute;
      backface-visibility: hidden;
      border-radius: $brd-rad-m;

      .team-card_img {
        @include boxRectangle(75%, 90%);
        @include absoluteItem(0, 50%, 0, 0, 0);
        translate: -50% -90px;
        transition: translate 0.3s, height 0.4s;
        margin-inline: auto;
        border-radius: inherit;
        background: $secondary-light;
        background-image: url("/assets/svg/Images-pana.svg");
        background-position: center center;
        background-repeat: no-repeat;
      }
      p {
        margin-bottom: $marg-def;
      }
      .team-card-icons {
        @include flexBasis(row, center, center);
        @include boxRectangle(70%, 15%);
        margin-inline: auto;
        gap: 0.7rem;
        img {
          @include boxQuarter($icon-s, $circle: false);
        }
      }
    }
  }
}
