footer {
  @include flexBasis(column, center, center);
  background: $primary-light;
  height: 18vh;
  width: 100vw;
  margin-top: -3rem;
  padding-inline: 0;
  box-shadow: 0 0 20px $team-card-shadow;
  border-radius: $brd-rad-def $brd-rad-def 0 0;
  .logo-font {
    margin-bottom: 1rem;
  }

  & :is(p) {
    @include small-text($clr-font-l);
    padding-bottom: $marg-small;
    font-size: 0.9rem;
  }
  & :is(a) {
    border-bottom: 2px solid transparent;
    @include small-text($github-clr);
    font-size: 1rem;
    text-align: right;
    padding-inline: 0;
    &:hover {
      color: $footer-a-h;
      border-color: $footer-a-h;
    }
    &:active {
      color: $clr-font-m;
    }
    &:focus {
      color: $a-hover;
      border-color: $a-hover;
    }
  }
  .footer-content__wrapper {
    @include flexBasis(column, center, center);
    margin-inline: auto;
    width: 100%;
    padding-top: $padd-small;
    span {
      display: inline-flex;
      width: 90%;
      gap: $padd-def - 0.4;
      justify-content: center;
      text-align: left;
    }
    ul {
      @include flexBasis(row, center, center);
      gap: $padd-def;
      width: 80%;
      margin-inline: auto;
      li {
        padding: 0;
        margin: 0;
        padding-left: 0.5rem;
      }
    }
  }
  @media screen and (min-width: 900px) {
    @include flexBasis(row, center, center);
    background: linear-gradient(to leftm, $primary-dark, $primary-light);
    height: 10vh;
    width: 1005;
    margin-top: 0rem;
    padding-inline: 2rem;

    box-shadow: 0 0 20px transparent;
    border-radius: 0 0 0 0;
    .logo-font {
      margin-bottom: 0rem;
    }

    & :is(p) {
      @include small-text($clr-font-l);
      padding-bottom: 0;
      font-size: 0.9rem;
    }
    & :is(a) {
      border-bottom: 2px solid transparent;
      @include small-text($github-clr);
      padding-inline: 1rem;
      font-size: 1rem;
      text-align: right;
      &:hover {
        color: $footer-a-h;
        border-color: $footer-a-h;
      }
      &:active {
        color: $clr-font-m;
      }
      &:focus {
        color: $a-hover;
        border-color: $a-hover;
      }
    }
    .footer-content__wrapper {
      @include flexBasis(row, center, space-between);
      margin-inline: auto;
      width: 100%;
      padding-top: 0;
      margin-right: 0;
      span {
        display: inline-flex;
        width: 100%;
        gap: 0rem;
        justify-content: center;
        text-align: left;
      }
      ul {
        @include flexBasis(row, center, center);
        gap: $padd-def;
        width: 60%;
        margin-inline: auto;
        li {
          padding: 0;
          margin: 0;
          padding-left: 0.5rem;
        }
      }
    }
  }
}
