footer {
  @include flexBasis(row, center, space-between);
  background: $primary-light;
  height: 10vh;
  width: 100vw;

  & :is(p) {
    @include small-text($clr-font-l);
    padding-bottom: $marg-small;
  }
  & :is(a) {
    border-bottom: 2px solid transparent;
    @include small-text($github-clr);

    &:hover {
      color: $footer-a-h;
      border-color: $footer-a-h;
    }
    &:active {
      color: $clr-font-m;
    }
    &:focus {
      color: $a-hover;
      border-color: $a-hover;
    }
  }
  .footer-content__wrapper {
    @include flexBasis(row, center, space-between);
    margin-inline: auto;
    width: 95vw;
    padding-top: $padd-small;
    span {
      display: inline-flex;
      width: 40%;
      gap: $padd-def - 0.4;
      justify-content: center;
    }
    ul {
      @include flexBasis(row, center, space-between);
      gap: $padd-def;
    }
  }
}
