header {
  background: transparent;
  align-items: center;
  // position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 80px;
  padding-inline: 4rem;
  position: fixed;
  transition: 0.4s;

  z-index: 15;

  .logo-font {
    color: red;
    width: max-content;
  }
  .links-header-holder {
    .nav-btn__wrapper {
      input[type="checkbox"] {
        display: none;
        width: 0;
        top: -99999px;
        position: absolute;
      }
      label {
        width: 2rem;
        height: 1.5rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        border: 1px solid red;
        .ham-menue {
          display: block;
          height: 4px;
          border-radius: 2rem;
          width: 100%;
          background: white;
        }
      }
    }
    .nav-link__wrapper {
      display: flex;
      flex-direction: row;
      align-items: center;
      li {
        display: inline-flex;
        align-items: center;
        margin-inline: 2rem;
        a {
          text-decoration: none;
        }
      }
    }
  }
}

.header-scrolled {
  cursor: pointer;
  background: rgba(254, 255, 255, 0.2);
  backdrop-filter: blur(6px);
  border-bottom: 1px solid rgba(255, 255, 255, 0.9);
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
  height: 120px;

  height: 80px;
  &:hover {
    background: hsl(141, 45%, 48%, 0.4);
  }
}

@media screen and (max-width: 400px) {
  header {
    padding: 0;
    position: relative;
    position: fixed;
    top: 0;
    left: 0;

    .links-header-holder {
      // position: relative;
      padding-inline: 0;

      .nav-link__wrapper {
        position: absolute;
        top: 0px;
        left: 0px;
        display: flex;
        list-style-type: none;
        display: flex;
        flex-direction: column;
        height: min-content;
        width: 100vw;
        translate: 0 -100%;
        transition: translate 0.2s ease-in-out;
        // background: red;
        li {
          width: 100%;
          // display: inline-flex;
          translate: 0 -100%;
          margin: 0;
          padding-block: 1rem;
          align-items: center;
          margin-inline: 0rem;
          a {
            width: inherit;
            text-decoration: none;
            font-size: 1rem;
            text-align: center;
            margin: 0;
            padding: 0;
          }
        }
      }
    }
  }
}
.links-header-holder {
  .nav-btn__wrapper {
    input[type="checkbox"] {
      display: none;
      width: 0;
      top: -99999px;
      position: absolute;
    }
    label {
      position: absolute;
      z-index: 15;
      top: 5px;
      left: 330px;
      width: 3.5rem;
      height: 3rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;

      .ham-menue {
        display: block;
        height: 4px;
        border-radius: 2rem;
        width: 100%;
      }
    }
  }
}

#nav-btn:checked ~ ul {
  translate: 0 0;
  li {
    transition: 0.3s ease;
    translate: 0 0;
    &:nth-child(1) {
      transition: 0.9s;
    }
    &:nth-child(2) {
      transition: 0.7s;
    }
    &:nth-child(3) {
      transition: 0.5;
    }
    &:nth-child(4) {
      transition: 0.3s;
    }
  }
}
