.main-page__wrapper {
  width: 100vw;
  height: max-content;
  display: grid;
  grid-template-columns: 1fr;
  margin-bottom: 2rem;
  overflow: hidden;
  background: $bg-clr;
  .main-page_holder-1,
  .main-page_holder-2,
  .main-page_holder-3 {
    @include flexBasis(column-reverse, center, center);
    padding: 0;
    margin: 0;
    background: $secondary-light;
    border-radius: 0 0 0 0;
    width: 100%;
    height: 100vh;
    border-radius: 0;
  }
  .main-page_holder-1,
  .main-page_holder-2 {
    // flex-direction: column;
    border-radius: 0 0 0 0;
  }
  .main-page_holder-3 {
    border-radius: 0 0 3rem 3rem;
  }

  .main-page_holder-3 {
    flex-direction: column;
    border-radius: 0 0 3rem 3rem;

    @media screen and (min-width: 900px) {
      border-radius: 150px 0 0 150px;
      background: linear-gradient(to right, $bg-clr-d, $bg-clr);
    }
    .mp-holder__text {
      border-radius: 0 0 2rem 2rem;
    }
  }
}

.mp-holder__text {
  @include flexBasis(column, center, center);
  gap: 1rem;
  padding-inline: 1rem;
  background: $primary-light;
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.2);
  border-radius: 2rem 2rem 0 0;
  width: 92%;
  margin-inline: auto;
  height: 100%;

  h2 {
    @include headingText($font-clr-main-mob);
    text-transform: uppercase;
    position: relative;
    display: inline-flex;
    align-items: center;
    font-weight: map-get($font-weights, bold);
    width: 100%;
    margin-inline: auto;

    &::after {
      content: "";
      position: absolute;
      display: block;
      left: 0;
      bottom: 0;
      top: 100%;
      height: 0.5rem;
      background: linear-gradient(to right, $font-clr-main-mob, transparent);
      width: 80%;
      border-radius: 1rem;
      transition: 0.3s ease-in;
    }
  }
  p {
    @include subheading($font-clr-main-mob);
    width: 100%;
    padding-block: 3vh;
  }

  .btn-default {
    align-self: center;
    border-color: $btn-color-mobile;
    @media screen and (min-width: 900px) {
      align-self: flex-start;
    }
    .btn-default_text {
      color: $btn-color-mobile;
    }
    svg {
      fill: $btn-color-mobile;
    }
  }
}

.mp-holder__svg {
  display: grid;
  place-items: center;

  width: auto;
  height: 100%;
  grid-column: 1/3;
  grid-row: 2/3;
  svg {
    width: 47vh;
    height: max-content;
  }
}

@media screen and (min-width: 700px) {
  .main-page__wrapper {
    width: 100vw;
    height: max-content;
    grid-template-columns: 2vw 1fr 2vw;
   

    margin-block: 0;
    margin-top: 4vw;
    gap: 2rem;
    overflow: hidden;
    article {
      display: flex;
      flex-wrap: wrap;
    }
    .main-page_holder-1,
    .main-page_holder-2,
    .main-page_holder-3 {
      padding: 0;
      margin: 0;
      background: $secondary-light;

      width: 100%;
      height: max-content;
      transition: box-shadow 0.3s ease-in-out;
      cursor: pointer;
      &:hover {
        box-shadow: 0 0 40px rgb(0, 0, 0, 0.3);
      }
    }
    .main-page_holder-2 {
      @include flexMainPage(row-reverse);
      grid-column: 2/4;

      border-radius: 150px 0 0 150px;
    }
    .main-page_holder-1,
    .main-page_holder-3 {
      @include flexMainPage(row);
      border-radius: 0 150px 150px 0;
      height: max-content;
      grid-column: 1/3;
    }
    .main-page_holder-3 .mp-holder__svg svg {
      width: 45vw;
      margin-right: 3vw;
    }
  }

  .mp-holder__text {
    @include flexBasis(column, center, space-between);

    grid-row: 1/2;
    padding-inline: 0;
    background: none;
    box-shadow: none;
    border-radius: 0;
    width: 39%;
    margin-inline: auto;
    height: auto;
    &:hover h2::after {
      background: linear-gradient(to right, $clr-h-brd, transparent);
      width: 28vw;
    }

    h2 {
      @include headingText($font-clr-main);

      font-weight: map-get($font-weights, bold);
      width: 100%;
      margin-inline: auto;

      &::after {
        content: "";
        position: absolute;
        display: block;
        left: 0;
        bottom: 0;
        top: 100%;
        height: 0.5rem;
        background: $secondary-light;
        width: 3vw;
        border-radius: 1rem;
        transition: 0.3s ease-in;
      }
    }
    p {
      @include subheading($font-clr-main);
      width: 100%;
      padding-block: 8vh;
    }
    .btn-default {
      $btn-color: $btn-color__mainpage;
      border: 3px solid $btn-color;
      .btn-default_text {
        color: $btn-color__mainpage;
      }
      svg {
        fill: $btn-color__mainpage;
      }
    }
  }

  .mp-holder__svg {
    display: grid;
    place-items: center;

    width: 50%;
    height: 100%;
    grid-column: 1/3;
    grid-row: 2/3;

    svg {
      width: 35vw;
      height: max-content;
    }
  }
}

/*==============================================================*/
/*                         Animation Autos                      */
/*==============================================================*/

#free-cars .car-1,
#free-cars .car-2 {
  transition: translate 0.5s ease-in-out;
}

#free-cars .car-2 {
  @include animationPage(350px, 0, 0.2s);
}
#free-cars .car-1 {
  translate: -350px 0;
}
#free-cars .car-box-1,
#free-cars .car-box-2 {
  translate: 0 -700px;
  transition: translate 0.5s ease-in-out;
}
#free-cars .car-box-2 {
  transition-delay: 0.4s;
}
#free-cars .car-box-1 {
  transition-delay: 0.6s;
}
#free-cars:hover .car-1,
#free-cars:hover .car-2 {
  translate: 0 0px;
}
#free-cars:hover .car-box-1,
#free-cars:hover .car-box-2 {
  translate: 0 -20px;
}
/*==============================================================*/
/*                         Animation Handy                      */
/*==============================================================*/

#phone-card .chat-1,
#phone-card .chat-2 {
  transition: translate 0.5s ease-in-out;
}

#phone-card .chat-1 {
  @include animationPage(-450px, 0, 0.3s);
}
#phone-card .chat-2 {
  @include animationPage(450px, 0, 0.9s);
}
#phone-card:hover .chat-1,
#phone-card:hover .chat-2 {
  translate: 0 0px;
}
.user-2 {
  rotate: 180deg;
  transition: rotate 0.7s ease-in-out;
  transition-delay: 0.4s;
}
article:hover .user-2 {
  rotate: 0deg;
}
/*==============================================================*/
/*                         Animation Bäume                      */
/*==============================================================*/

// #tree-card
// .tree-1
.tree-1 {
  @include animationPage(0, 300px, 0.3s);
  transition: translate 0.3s ease-in-out;
}
.tree-2 {
  @include animationPage(0, 300px, 0.8s);
  transition: translate 0.9s ease-in-out;
}
.tree-3 {
  @include animationPage(0, 300px, 0.9s);
  transition: translate 0.7s ease-in-out;
}
#tree-card:hover .tree-1,
#tree-card:hover .tree-2,
#tree-card:hover .tree-3 {
  translate: 0 0;
}
