#user-commentar-page {
  background: linear-gradient(to top, $primary-dark, $primary-light);
  @include boxView();
  display: grid;
  grid-template-columns: 80% 20%;
  .user-commentar__grid {
    @include gridMiddle();
    overflow: hidden;
    background: $bg-clr;
    border-radius: 0 150px 150px 0;
    width: 90%;
    height: 90%;
    @media (max-width: 400px) {
      border-radius: 0 100px 100px 0;
    }
  }
  .user-commentar_subheading {
    @include gridMiddle();

    @include headingText($clr-font-l);

    width: 60%;
    height: 90%;

    h3 {
      text-align: left;
      margin-block: $padd-small $padd-med;
      text-transform: uppercase;
    }
  }
}
.user-commentar__img-holder {
  width: 90vw;
  height: max-content;
  margin-inline: auto;
  @include flexBasis(row, center, center);
  gap: 5rem;
}

#testcard {
  animation: flow 5s infinite;
}
#testcard2 {
  transition-delay: 0.2s;
  animation: flow 5s infinite;
  animation-delay: 0.2s;
}
#testcard3 {
  transition-delay: 0.4s;
  animation: flow 5s infinite;
  animation-delay: 0.4s;
}
#testcard4 {
  transition-delay: 0.6s;
  animation: flow 5s infinite;
  animation-delay: 0.6s;
}

@keyframes flow {
  0% {
    translate: 500% 0;
    opacity: 0;
    transition: translate 0.6s ease-in-out, opacity 0.6s ease-in-out;
  }

  50% {
    translate: 0% 0;
    opacity: 1;
  }
  70% {
    translate: 0% 0;
    opacity: 1;
  }
  95% {
    translate: -500% 0;
    opacity: 0;
    transition: translate 0.6s ease-in-out, opacity 0.6s ease-in-out;
  }
  100% {
    translate: 500% 0;
    opacity: 0;
    transition: translate 0.6s ease-in-out, opacity 0.6s ease-in-out;
  }
}
