#user-commentar-page {
  background: linear-gradient(to top, $primary-dark, $primary-light);
  @include boxView();
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 20% 1fr;

  .user-commentar__grid {
    @include gridMiddle();
    overflow: hidden;
    background: $bg-clr;
    background: linear-gradient(to right, $grid-shd-d, $grid-shd-l);
    border-radius: 2rem 2rem 0rem 0rem;
    width: 100vw;
    height: 100%;
    margin-inline: auto;
    position: relative;
  }
  .user-commentar_subheading {
    @include gridMiddle();
    grid-row: 1/2;
    width: 90%;
    height: 90%;
    margin-inline: auto;
    h3 {
      @include headingText($clr-font-l);

      text-align: left;
      margin-block: 0 1rem;
      text-transform: uppercase;
      opacity: 0.8;
    }
  }
}
.user-commentar__img-holder {
  width: 100%;
  height: 95%;
  margin-inline: auto;
  padding-block: 1rem;
  @include flexBasis(row, center, center);

  gap: 1rem;
  grid-row: 2/3;

  overflow-x: scroll;
  white-space: nowrap;
}

#testcard,
#testcard2,
#testcard3,
#testcard4 {
  animation: none;
}

@media screen and (min-width: 700px) {
  #user-commentar-page {
    background: linear-gradient(to top, $primary-dark, $primary-light);
    @include boxView();
    display: grid;
    grid-template-columns: 80% 20%;
    grid-template-rows: auto;
    .user-commentar__grid {
      @include gridMiddle();
    
      overflow: hidden;
      background: $bg-clr;
      background: linear-gradient(to right, $grid-shd-d, $grid-shd-l);
      border-radius: 0 100px 100px 0;
      width: 100%;
      height: 90%;
      position: relative;
    }
    .user-commentar_subheading {
      @include gridMiddle();
      grid-column: 2/3;
      width: 90%;
      height: 90%;

      h3 {
        @include headingText($clr-font-l);
        text-align: left;
        margin-block: $padd-small $padd-med;
        
        text-transform: uppercase;
        opacity: $opac-device;
      }
    }
  }
  .user-commentar__img-holder {
    grid-column: 1/2;
    width: auto;
    height: max-content;
    margin-inline: auto;
    @include flexBasis(row, center, center);
    gap: 1rem;
    overflow: unset;

    white-space: normal;
  }

  #testcard {
    animation: flow 5s infinite;
  }
  #testcard2 {
    animation: flow 5s infinite;
    animation-delay: 0.2s;
  }
  #testcard3 {
    animation: flow 5s infinite;
    animation-delay: 0.4s;
  }
  #testcard4 {
    animation: flow 5s infinite;
    animation-delay: 0.6s;
  }

  @keyframes flow {
    0% {
      translate: 0% -200%;
      opacity: 0;
      transition: translate 0.6s ease-in-out, opacity 0.6s ease-in-out;
    }

    30% {
      translate: 0% 0;
      opacity: 1;
    }
    70% {
      translate: 0% 0;
      opacity: 1;
    }
    95% {
      translate: -500% 0;
      opacity: 0;
      transition: translate 0.6s ease-in-out, opacity 0.6s ease-in-out;
    }
    100% {
      translate: 500% 0;
      opacity: 0;
      transition: translate 0.6s ease-in-out, opacity 0.6s ease-in-out;
    }
  }
}
