@mixin mainText($color) {
  font: {
    size: clamp(1rem, 10vw, 1.5rem);
  }
  font-weight: map-get($font-weights, regular);
  color: $color;
}
@mixin headingText($color) {
  font: {
    size: clamp(1rem, 10vw, 3rem);
  }
  color: $color;
}
//mainpagesections
@mixin flexMainPage($direction) {
  display: flex;

  flex-wrap: wrap;
  flex-direction: $direction;
  align-items: center;
  //   justify-content: space-between;
  //   padding-inline: 3vw;
  padding-block: 15vh;
  margin-bottom: 10vh;
  min-height: 60vh;
}
//=========================//
$font-weights: (
  "thin": 300,
  "regular": 400,
  "medium": 500,
  "bold": 700,
  "thick": 900,
);
