@charset "UTF-8";
@font-face {
  font-family: "Roboto";
  src: url("assets/fonts/roboto-light.woff") format("woff2");
  font-style: normal;
  font-weight: 300;
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  src: url("assets/fonts/roboto-regular.woff") format("woff2");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  src: url("assets/fonts/roboto-medium.woff") format("woff2");
  font-style: normal;
  font-weight: 500;
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  src: url("assets/fonts/roboto-black.woff") format("woff2");
  font-style: normal;
  font-weight: 900;
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  src: url("assets/fonts/roboto-bold.woff") format("woff2");
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  line-height: 1.1;
}

p {
  margin: 0;
}

a,
a:visited,
a:active {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Roboto", sans-serif;
  font-size: 100%;
  width: 100vw;
  height: 100vh;
}

*,
*::after,
*::before {
  box-sizing: inheritx;
}

body {
  width: 100vw;
  height: 100vh;
  background: hsl(0, 0%, 94%);
  padding: 0;
  margin: 0;
}

main {
  width: 100%;
  height: 100%;
}

a {
  text-decoration: none;
  margin: 0;
}

ul,
li {
  list-style-type: none;
}

button {
  all: unset;
}

.btn-default {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  all: unset;
  cursor: pointer;
  border: 3px solid hsl(141, 45%, 56%);
  position: relative;
  width: 17vw;
  height: -moz-max-content;
  height: max-content;
  padding-inline: 1rem;
  padding-block: 1rem;
  border-radius: 1rem;
  position: relative;
  transition: padding-inline 0.3s ease-in-out;
}
@media screen and (max-width: 400px) {
  .btn-default {
    width: 40vw;
  }
}
@media screen and (min-width: 400px) {
  .btn-default {
    width: 35vw;
  }
}
@media screen and (min-width: 600px) {
  .btn-default {
    width: 28vw;
  }
}
@media screen and (min-width: 1000px) {
  .btn-default {
    width: 17vw;
  }
}
.btn-default .btn-default_text {
  text-align: center;
  font-size: clamp(0.7rem, 1rem + 1vw, 1.5rem);
  font-weight: 300;
  color: hsl(141, 45%, 56%);
  padding: 0;
  padding-block: 0.3rem;
  width: 100%;
  height: -moz-max-content;
  height: max-content;
}
.btn-default:active {
  border-color: hsl(141, 45%, 56%);
  background: hsl(141, 45%, 56%);
}
.btn-default:active .btn-default_text {
  color: #ededed;
}
.btn-default:active svg {
  translate: 50% 0;
  opacity: 1;
}
.btn-default:hover {
  padding-inline: 1rem 2.5rem;
}
.btn-default:hover svg {
  translate: 50% 0;
  opacity: 1;
}
.btn-default svg {
  width: 2rem;
  position: absolute;
  top: 0;
  right: 25px;
  transition: translate 0.3s ease-in-out, opacity 0.2s ease-in-out;
  opacity: 0;
  fill: hsl(141, 45%, 56%);
}

/*=====================================================*/
@media screen and (max-width: 400px) {
  header {
    display: block;
    width: 100vw;
    height: 10vh;
    position: fixed;
    top: 0;
  }
  header .logo-font {
    color: white;
    width: -moz-max-content;
    width: max-content;
    margin-block: auto;
    font-size: 1.3rem;
    color: #ededed;
  }
  header .links-header-holder {
    padding-inline: 0;
    width: 90%;
  }
  header .links-header-holder .nav-link__wrapper {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: -moz-min-content;
    height: min-content;
    width: 100%;
    translate: 0 -100%;
    transition: translate 0.2s ease-in-out;
    background: white;
    border-radius: 0 0 2rem 2rem;
  }
  header .links-header-holder .nav-link__wrapper li {
    width: 100%;
    translate: 0 -100%;
    margin: 0;
    padding-block: 1rem;
    margin-inline: 0rem;
  }
  header .links-header-holder .nav-link__wrapper li a {
    width: inherit;
    font-size: 1rem;
    text-align: center;
    margin: 0;
    padding: 0;
  }
}
.links-header-holder .nav-btn__wrapper input[type=checkbox] {
  display: none;
  width: 0;
  top: -99999px;
  position: absolute;
}
.links-header-holder .nav-btn__wrapper label {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  top: 50%;
  left: 50%;
  right: 0%;
  bottom: 0;
  z-index: 15;
  translate: -50% -50%;
  width: 3.5rem;
  height: 3rem;
}
.links-header-holder .nav-btn__wrapper label .ham-menue {
  display: block;
  height: 4px;
  border-radius: 2rem;
  width: 100%;
  background: white;
  transition: width 0.2s ease-in-out;
}

#nav-btn:checked ~ ul {
  translate: 0 0;
}
#nav-btn:checked ~ ul li {
  transition: 0.3s ease;
  translate: 0 0;
}
#nav-btn:checked ~ ul li:nth-child(1) {
  transition: 0.9s;
}
#nav-btn:checked ~ ul li:nth-child(2) {
  transition: 0.7s;
}
#nav-btn:checked ~ ul li:nth-child(3) {
  transition: 0.5;
}
#nav-btn:checked ~ ul li:nth-child(4) {
  transition: 0.3s;
}

#nav-btn:checked + label span {
  background: red;
}
#nav-btn:checked + label span.ham-menue__1 {
  width: 70%;
  align-self: end;
}
#nav-btn:checked + label span.ham-menue__2 {
  width: 60%;
  align-self: end;
}
#nav-btn:checked + label span.ham-menue__3 {
  width: 40%;
  align-self: end;
}

/*=================================================================*/
/*=================================================================*/
header {
  display: block;
  width: 100vw;
  height: 80px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
  position: fixed;
  top: 0;
  transition: 0.4s;
  z-index: 15;
}
header .logo-font {
  font-size: clamp(1rem, 10vw, 1.5rem);
  font-weight: 300;
  color: #ededed;
  width: -moz-max-content;
  width: max-content;
  margin-inline: 3.5vw 1vw;
}
header .links-header-holder .nav-btn__wrapper input[type=checkbox] {
  display: none;
}
header .links-header-holder .nav-btn__wrapper label {
  display: none;
}
header .links-header-holder .nav-link__wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
header .links-header-holder .nav-link__wrapper li {
  display: inline-flex;
  align-items: center;
  padding-inline: 1rem;
  padding-block: 2rem 0.5rem;
  margin-bottom: 1.5rem;
  background: hsla(0, 0%, 99%, 0.08);
  border-radius: 0 0 1rem 1rem;
}
header .links-header-holder .nav-link__wrapper li:hover {
  border-bottom: 1px solid #ededed;
}
header .links-header-holder .nav-link__wrapper li:hover a {
  opacity: 0.8;
}
header .links-header-holder .nav-link__wrapper li a {
  text-decoration: none;
  font-size: clamp(0.9rem, 10vw, 1.1rem);
  font-weight: 300;
  color: #ededed;
  width: -moz-max-content;
  width: max-content;
  opacity: 0.5;
}

.header-scrolled {
  cursor: pointer;
  background: rgba(254, 255, 255, 0.2);
  -webkit-backdrop-filter: blur(6px);
          backdrop-filter: blur(6px);
  border-bottom: 1px solid rgba(255, 255, 255, 0.9);
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
  height: 120px;
  height: 80px;
}
.header-scrolled:hover {
  background: hsla(141, 45%, 48%, 0.4);
}

.header-scrolled {
  cursor: pointer;
  background: rgba(248, 248, 248, 0.2);
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
  border-bottom: 1px solid rgba(255, 255, 255, 0.9);
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
  height: 10vh;
}
.header-scrolled:hover {
  background: hsl(141, 45%, 38%);
}
.header-scrolled:hover.header-scrolled :has(a) {
  background: none;
}

.user-comm__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  width: min(90vw, 350px);
  height: 100%;
  border-radius: 2rem;
  background: linear-gradient(to right, hsl(141, 45%, 38%) 60%, hsl(0, 0%, 99%) 50%);
  border-top: 1px solid hsl(0, 0%, 99%);
  border-right: 2px solid hsl(0, 0%, 99%);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
  padding-bottom: 1.7rem;
}
.user-comm__wrapper img {
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center center;
     object-position: center center;
  border-radius: inherit;
  filter: grayscale(0.5);
}

.user-comm__text-holder {
  position: relative;
  margin-top: -5rem;
  padding-bottom: 1rem;
  width: 99%;
  height: 17rem;
  background: hsl(0, 0%, 99%);
  border-radius: 2rem 2rem 2rem 3rem;
  border-left: 4px solid hsl(141, 45%, 38%);
  border-top: 5px solid hsl(141, 45%, 38%);
  display: grid;
  place-content: center;
}
@media (max-width: 400px) {
  .user-comm__text-holder {
    height: 40vh;
  }
}

.user-comm__text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 1rem;
  height: 100%;
  width: 85%;
  gap: 1rem;
  margin-inline: auto;
}
.user-comm__text h2 {
  border-bottom: 2px solid hsl(141, 45%, 56%);
  padding-block: 1rem;
  font-size: clamp(1.2rem, 10vw, 2rem);
  font-weight: 300;
  color: #202020;
  width: 100%;
  align-self: start;
  text-align: center;
}
.user-comm__text p {
  font-size: clamp(0.9rem, 10vw, 1.1rem);
  font-weight: 300;
  color: #8b8b8b;
  border-radius: 1rem 1rem 1rem 1.5rem;
}

.car-icons {
  display: inline-flex;
  margin-inline: auto;
  position: absolute;
  bottom: -53px;
  left: 180px;
  z-index: 5;
  translate: -50% 0;
  padding: 0.5rem;
  gap: 0.3rem;
  background: hsl(0, 0%, 99%);
  border: 5px solid hsl(141, 45%, 38%);
  border-radius: 3rem;
}
@media (max-width: 400px) {
  .car-icons {
    bottom: -20px;
    left: 200px;
  }
}
.car-icons svg {
  fill: hwb(43 4% 8%);
  width: 1.7rem;
  height: 1.7rem;
}

.sec__landing-page {
  background: hsl(0, 0%, 94%);
  overflow: hidden;
  height: 100vh;
}
.sec__landing-page .landing-site__bg {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  width: 90vw;
  height: 90%;
  background: linear-gradient(to bottom, hsl(141, 45%, 38%), hsl(141, 45%, 56%));
  border-radius: 0 0 clamp(10rem, 10vw, 20rem) 0;
  padding-top: 3rem;
}
.sec__landing-page .landing-site__text-wrapper {
  width: 40vw;
  height: 85%;
  display: flex;
  justify-content: end;
  flex-direction: column;
  align-items: center;
  gap: 4vh;
  margin-left: 3rem;
}
.sec__landing-page .landing-site__text-wrapper h1 {
  font-size: clamp(3rem, 10vw, 5rem);
  font-weight: 700;
  color: #ededed;
  opacity: 0.7;
  text-transform: uppercase;
  width: 100%;
  margin-inline: auto;
  position: relative;
  letter-spacing: 0.05em;
}
.sec__landing-page .landing-site__text-wrapper h1::after {
  content: "";
  position: absolute;
  display: block;
  left: 0;
  bottom: 0;
  top: 100%;
  height: 0.5rem;
  border-radius: 1rem;
  background: linear-gradient(to right, #ededed, transparent);
  width: calc(18rem + 10vw);
}
.sec__landing-page .landing-site__text-wrapper .landing-site__list-text {
  font-size: clamp(1.2rem, 10vw, 2rem);
  font-weight: 300;
  color: white;
  font-weight: 300;
  opacity: 0.7;
  width: 100%;
  margin-inline: auto;
}
.sec__landing-page .landing-site__text-wrapper .landing-site__list-text li {
  margin-left: -2.5rem;
  width: 100%;
  opacity: 0.7;
}
.sec__landing-page .landing-site__text-wrapper .btn-default {
  background: hsl(141, 45%, 56%);
  align-self: flex-start;
  margin-left: -0.5rem;
  border-top: 1px solid hsl(141, 45%, 56%);
  border-left: 1px solid hsl(141, 45%, 56%);
  border-right: 1px solid hsl(141, 45%, 48%);
  border-bottom: 1px solid hsl(141, 45%, 48%);
  box-shadow: inset -10px -10px 10px hsl(141, 45%, 48%), inset 10px 10px 10px hsl(141, 48%, 62%);
}
.sec__landing-page .landing-site__text-wrapper .btn-default:hover {
  padding-inline: 1rem 2.5rem;
  box-shadow: inset 10px 10px 20px hsl(141, 45%, 38%), inset -10px -10px 20px hsl(141, 48%, 62%);
  background: hsl(141, 45%, 48%);
}
.sec__landing-page .landing-site__text-wrapper .btn-default:hover .btn-default_text {
  opacity: 0.9;
}
.sec__landing-page .landing-site__text-wrapper .btn-default:hover svg {
  translate: 50% 0;
  opacity: 1;
}
.sec__landing-page .landing-site__text-wrapper .btn-default .btn-default_text {
  font-size: clamp(0.7rem, 1rem + 1vw, 1.5rem);
  font-weight: 300;
  color: hsl(141, 45%, 38%);
  opacity: 0.7;
}
.sec__landing-page .landing-site__text-wrapper .btn-default svg {
  fill: hsl(141, 45%, 38%);
}

/*==============SVG========================================*/
.svg-wrapper {
  height: 95%;
  width: 30vw;
  padding: 2rem;
  align-self: center;
  margin-left: 20%;
  margin-bottom: 5rem;
  position: relative;
}
.svg-wrapper .cloud {
  position: absolute;
  top: 0;
  left: 0;
  height: 50%;
}
.svg-wrapper .c-1 {
  fill: hsla(0, 0%, 100%, 0.1);
  position: absolute;
  top: -5%;
  left: 0;
  height: 40%;
  translate: 0% 0%;
}
.svg-wrapper .c-2 {
  fill: hsla(0, 0%, 100%, 0.4);
  position: absolute;
  top: 10%;
  left: -2%;
  height: 60%;
  translate: 40% 0%;
  animation: cloud 5s infinite ease-in-out;
}
.svg-wrapper .c-3 {
  fill: hsla(0, 0%, 100%, 0.2);
  position: absolute;
  top: 5%;
  left: 0;
  translate: -30% 0%;
  animation: cloud-2 5s infinite ease-in-out;
}

.main-svg {
  height: -moz-max-content;
  height: max-content;
  width: 37vw;
  position: absolute;
  top: 20%;
  left: 52%;
}

@keyframes cloud {
  0% {
    translate: 40% 0%;
  }
  35% {
    translate: 42% 0%;
  }
  65% {
    translate: 38% 0%;
  }
  100% {
    translate: 40% 0%;
  }
}
@keyframes cloud-2 {
  0% {
    translate: -30% 0%;
  }
  35% {
    translate: -29% 0%;
  }
  65% {
    translate: -31% 0%;
  }
  100% {
    translate: -30% 0%;
  }
}
@media screen and (max-width: 400px) {
  .sec__landing-page .landing-site__bg {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100%;
    box-shadow: inset -10% -10% 0px rgba(0, 0, 0, 0.1), inset -900px -180px 0px rgba(0, 0, 0, 0.2);
    border-radius: 0 0 clamp(rem, 10vw, 10rem) 0;
  }
  .sec__landing-page .landing-site__text-wrapper {
    width: 90vw;
    height: -moz-max-content;
    height: max-content;
    margin-inline: auto;
  }
  .sec__landing-page .landing-site__text-wrapper h1 {
    font-size: 2rem;
    color: white;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
  }
  .sec__landing-page .landing-site__text-wrapper p {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 300;
  }
  .svg-wrapper {
    position: relative;
  }
  .svg-wrapper .cloud {
    position: absolute;
    top: 0;
    left: 0;
    width: 10rem;
  }
  .svg-wrapper .c-1 {
    fill: hsla(142, 100%, 100%, 0.3);
    position: absolute;
    top: -5%;
    left: 0;
    height: 50%;
    translate: 0% 0%;
    animation: stop;
  }
  .svg-wrapper .c-2 {
    fill: hsla(0, 0%, 100%, 0.6);
    position: absolute;
    top: 10%;
    left: 0;
    height: 70%;
    translate: 20% 0%;
    animation: stop;
  }
  .svg-wrapper .c-3 {
    fill: hsla(0, 0%, 90%, 0.4);
    position: absolute;
    top: 5%;
    left: 0;
    translate: -20% 0%;
    animation: stop;
  }
  .main-svg {
    height: 50%;
    width: 90vw;
    position: absolute;
    top: 15%;
    left: 5%;
    height: auto;
  }
}
.main-page__wrapper {
  width: 100vw;
  height: -moz-max-content;
  height: max-content;
  display: grid;
  grid-template-columns: 1fr;
  margin-block: 2rem;
  background: hsl(0, 0%, 94%);
}
.main-page__wrapper .main-page_holder-1,
.main-page__wrapper .main-page_holder-2,
.main-page__wrapper .main-page_holder-3 {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 0;
  background: hsl(0, 0%, 99%);
  border-radius: 0 0 0 0;
  width: 100%;
  height: 100vh;
  border-radius: 0;
}
.main-page__wrapper .main-page_holder-2 {
  border-radius: 0 0 0 0;
}
@media screen and (min-width: 900px) {
  .main-page__wrapper .main-page_holder-2 {
    border-radius: 0 150px 150px 0;
  }
}
.main-page__wrapper .main-page_holder-1,
.main-page__wrapper .main-page_holder-3 {
  border-radius: 0 0 0 0;
}
@media screen and (min-width: 900px) {
  .main-page__wrapper .main-page_holder-1,
  .main-page__wrapper .main-page_holder-3 {
    border-radius: 150px 0 0 150px;
  }
}

.mp-holder__text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-inline: 1rem;
  background: linear-gradient(to bottom, hsl(141, 45%, 38%), hsl(141, 45%, 56%));
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
  border-radius: 2rem 2rem 0 0;
  width: 92%;
  margin-inline: auto;
  height: 100%;
}
.mp-holder__text h2 {
  font-size: clamp(3rem, 10vw, 5rem);
  font-weight: 700;
  color: blue;
  display: inline-flex;
  align-items: center;
  font-weight: 700;
  width: 90%;
  margin-inline: auto;
}
.mp-holder__text p {
  font-size: clamp(0.9rem, 10vw, 1.1rem);
  font-weight: 300;
  color: green;
  width: 100%;
}
.mp-holder__text button {
  align-self: center;
}
.mp-holder__text .btn-default {
  align-self: flex-start;
}

.mp-holder__svg {
  display: grid;
  place-items: center;
  width: auto;
  height: 100%;
  grid-column: 1/3;
  grid-row: 2/3;
}
.mp-holder__svg svg {
  width: 47vh;
  height: -moz-max-content;
  height: max-content;
}

@media screen and (min-width: 900px) {
  .main-page__wrapper {
    width: 100vw;
    height: -moz-max-content;
    height: max-content;
    grid-template-columns: 2vw 1fr 2vw;
    margin-block: 0;
    margin-top: 4vw;
    gap: 2rem;
  }
  .main-page__wrapper article {
    display: flex;
    flex-wrap: wrap;
  }
  .main-page__wrapper .main-page_holder-1,
  .main-page__wrapper .main-page_holder-2,
  .main-page__wrapper .main-page_holder-3 {
    padding: 0;
    margin: 0;
    background: hsl(0, 0%, 99%);
    width: 100%;
    height: -moz-max-content;
    height: max-content;
    transition: box-shadow 0.3s ease-in-out;
    cursor: pointer;
  }
  .main-page__wrapper .main-page_holder-1:hover,
  .main-page__wrapper .main-page_holder-2:hover,
  .main-page__wrapper .main-page_holder-3:hover {
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.3);
  }
  .main-page__wrapper .main-page_holder-2 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    align-items: center;
    padding-block: 15vh;
    margin-bottom: 10vh;
    min-height: 60vh;
    grid-column: 1/3;
  }
  .main-page__wrapper .main-page_holder-1,
  .main-page__wrapper .main-page_holder-3 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    padding-block: 15vh;
    margin-bottom: 10vh;
    min-height: 60vh;
    height: -moz-max-content;
    height: max-content;
    grid-column: 2/4;
  }
  .main-page__wrapper .main-page_holder-3 .mp-holder__svg svg {
    width: 45vw;
    margin-right: 3vw;
  }
  .mp-holder__text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    grid-row: 1/2;
    padding-inline: 0;
    background: none;
    box-shadow: none;
    border-radius: 0;
    width: 39%;
    margin-inline: auto;
    height: auto;
  }
  .mp-holder__text:hover h2::after {
    background: linear-gradient(to right, hsl(141, 45%, 48%), transparent);
    width: 28vw;
  }
  .mp-holder__text h2 {
    font-size: clamp(3rem, 10vw, 5rem);
    font-weight: 700;
    color: hsl(141, 45%, 48%);
    text-transform: uppercase;
    position: relative;
    display: inline-flex;
    align-items: center;
    font-weight: 700;
    width: 100%;
    margin-inline: auto;
  }
  .mp-holder__text h2::after {
    content: "";
    position: absolute;
    display: block;
    left: 0;
    bottom: 0;
    top: 100%;
    height: 0.5rem;
    background: white;
    width: 3vw;
    border-radius: 1rem;
    transition: 0.3s ease-in;
  }
  .mp-holder__text p {
    font-size: clamp(1.2rem, 10vw, 2rem);
    font-weight: 300;
    color: hsl(141, 45%, 48%);
    width: 100%;
    padding-block: 8vh;
  }
  .mp-holder__text button {
    align-self: center;
  }
  .mp-holder__svg {
    display: grid;
    place-items: center;
    width: 50%;
    height: 100%;
    grid-column: 1/3;
    grid-row: 2/3;
  }
  .mp-holder__svg svg {
    width: 35vw;
    height: -moz-max-content;
    height: max-content;
  }
}
/*==============================================================*/
/*                         Animation Autos                      */
/*==============================================================*/
#free-cars .car-1,
#free-cars .car-2 {
  transition: translate 0.5s ease-in-out;
}

#free-cars .car-2 {
  translate: 350px 0;
  transition-delay: 0.2s;
}

#free-cars .car-1 {
  translate: -350px 0;
}

#free-cars .car-box-1,
#free-cars .car-box-2 {
  translate: 0 -700px;
  transition: translate 0.5s ease-in-out;
}

#free-cars .car-box-2 {
  transition-delay: 0.4s;
}

#free-cars .car-box-1 {
  transition-delay: 0.6s;
}

#free-cars:hover .car-1,
#free-cars:hover .car-2 {
  translate: 0 0px;
}

#free-cars:hover .car-box-1,
#free-cars:hover .car-box-2 {
  translate: 0 -20px;
}

/*==============================================================*/
/*                         Animation Handy                      */
/*==============================================================*/
#phone-card .chat-1,
#phone-card .chat-2 {
  transition: translate 0.5s ease-in-out;
}

#phone-card .chat-1 {
  translate: -450px 0;
  transition-delay: 0.3s;
}

#phone-card .chat-2 {
  translate: 450px 0;
  transition-delay: 0.9s;
}

#phone-card:hover .chat-1,
#phone-card:hover .chat-2 {
  translate: 0 0px;
}

.user-2 {
  rotate: 180deg;
  transition: rotate 0.7s ease-in-out;
  transition-delay: 0.4s;
}

article:hover .user-2 {
  rotate: 0deg;
}

/*==============================================================*/
/*                         Animation Bäume                      */
/*==============================================================*/
.tree-1 {
  translate: 0 300px;
  transition-delay: 0.3s;
  transition: translate 0.3s ease-in-out;
}

.tree-2 {
  translate: 0 300px;
  transition-delay: 0.8s;
  transition: translate 0.9s ease-in-out;
}

.tree-3 {
  translate: 0 300px;
  transition-delay: 0.9s;
  transition: translate 0.7s ease-in-out;
}

#tree-card:hover .tree-1,
#tree-card:hover .tree-2,
#tree-card:hover .tree-3 {
  translate: 0 0;
}

.device-page {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 5% 1fr 5%;
  background: linear-gradient(to bottom, hsl(141, 45%, 38%), hsl(141, 45%, 56%));
}

.bg-con {
  display: block;
  display: block;
  width: 100%;
  height: 100%;
  background: hsl(0, 0%, 94%);
}
.bg-con.bg-con-1 {
  border-radius: 0 0 0 100px;
}

.device-page__wrapper {
  display: block;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
  gap: 1rem;
  margin-inline: auto;
}
.device-page__wrapper .device-holder__text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  display: block;
  width: 100%;
  height: 50%;
  border: 1px solid transparent;
}
.device-page__wrapper .device-holder__text h2 {
  font-size: clamp(3rem, 10vw, 5rem);
  font-weight: 700;
  color: #ededed;
  font-weight: 600;
  text-transform: uppercase;
  text-align: start;
  width: 90%;
  opacity: 0.5;
  margin-inline: auto;
  position: relative;
}
.device-page__wrapper .device-holder__text h2::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  position: absolute;
  display: block;
  height: 0.5rem;
  background: linear-gradient(to right, hsl(0, 0%, 99%), transparent);
  width: 35vw;
  border-radius: 1rem;
  transition: 0.3s ease-in;
}
.device-page__wrapper .device-holder__text p {
  font-size: clamp(1rem, 10vw, 3rem);
  font-weight: 400;
  color: #ededed;
  font-size: 2rem;
  opacity: 0.5;
  text-align: start;
  width: 90%;
  margin-inline: auto;
  padding-block: 2rem 2rem;
  opacity: 0.7;
}

.logo-holder {
  display: block;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 5%;
  padding-bottom: 2rem;
}
.logo-holder .logo-wrapper {
  display: block;
  width: -moz-max-content;
  width: max-content;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.logo-holder .logo-wrapper svg {
  width: clamp(2rem, 10vw, 4rem);
  height: clamp(2rem, 10vw, 4rem);
  fill: hsl(0, 0%, 99%);
  opacity: 0.3;
}

.device-wrapper__svg {
  display: block;
  width: -moz-max-content;
  width: max-content;
  height: 40%;
}
.device-wrapper__svg svg {
  height: -moz-max-content;
  height: max-content;
  width: 95vw;
}

@media screen and (min-width: 900px) {
  .device-page {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 15% 1fr 15%;
    background: linear-gradient(to bottom, hsl(141, 45%, 38%), hsl(141, 45%, 56%));
  }
  .bg-con {
    display: block;
    display: block;
    width: 100%;
    height: 100%;
    background: hsl(0, 0%, 94%);
  }
  .bg-con.bg-con-1 {
    border-radius: 0 0 0 150px;
  }
  .bg-con.bg-con-2 {
    border-radius: 0 150px 0 0;
  }
  .device-page__wrapper {
    display: block;
    width: 90%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-inline: auto;
    margin-top: 2rem;
  }
  .device-page__wrapper .device-holder__text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    display: block;
    width: 50%;
    height: 50%;
    padding-inline: 1rem;
    border: 1px solid transparent;
    margin-top: -5rem;
  }
  .device-page__wrapper .device-holder__text h2 {
    font-size: clamp(3rem, 10vw, 5rem);
    font-weight: 700;
    color: #ededed;
    font-weight: 600;
    text-transform: uppercase;
    text-align: left;
    width: 100%;
    position: relative;
  }
  .device-page__wrapper .device-holder__text p {
    font-size: clamp(1.2rem, 10vw, 2rem);
    font-weight: 300;
    color: #ededed;
    text-align: start;
    padding-block: 7vh;
    width: 100%;
  }
  .logo-holder {
    display: block;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    gap: 5%;
  }
  .logo-holder .logo-wrapper {
    display: block;
    width: -moz-max-content;
    width: max-content;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .logo-holder .logo-wrapper svg {
    width: clamp(2rem, 10vw, 4rem);
    height: clamp(2rem, 10vw, 4rem);
  }
  .device-wrapper__svg {
    display: block;
    width: -moz-max-content;
    width: max-content;
    height: 70%;
  }
  .device-wrapper__svg svg {
    width: 100%;
    height: 100%;
  }
  .device-wrapper__svg .animated-svg__1 {
    animation: puls 7s infinite;
    translate: 0 0;
  }
  .device-wrapper__svg .animated-svg__2 {
    animation: puls 8s infinite;
  }
  @keyframes puls {
    0% {
      fill: hsl(141, 45%, 56%);
    }
    25% {
      fill: hsl(0, 0%, 94%);
    }
    50% {
      fill: hsl(141, 45%, 56%);
    }
    75% {
      fill: hsl(0, 0%, 94%);
    }
    100% {
      fill: hsl(141, 45%, 56%);
    }
  }
}
#user-commentar-page {
  background: linear-gradient(to top, hsl(141, 45%, 38%), hsl(141, 45%, 56%));
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 80% 20%;
}
#user-commentar-page .user-commentar__grid {
  display: grid;
  place-content: center;
  overflow: hidden;
  background: hsl(0, 0%, 94%);
  border-radius: 0 150px 150px 0;
  width: 90%;
  height: 90%;
}
@media (max-width: 400px) {
  #user-commentar-page .user-commentar__grid {
    border-radius: 0 100px 100px 0;
  }
}
#user-commentar-page .user-commentar_subheading {
  display: grid;
  place-content: center;
  font-size: clamp(3rem, 10vw, 5rem);
  font-weight: 700;
  color: #ededed;
  width: 60%;
  height: 90%;
}
#user-commentar-page .user-commentar_subheading h3 {
  text-align: left;
  margin-block: 0.5rem 1.5rem;
  text-transform: uppercase;
}

.user-commentar__img-holder {
  width: 90vw;
  height: -moz-max-content;
  height: max-content;
  margin-inline: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 5rem;
}

#testcard {
  animation: flow 5s infinite;
}

#testcard2 {
  transition-delay: 0.2s;
  animation: flow 5s infinite;
  animation-delay: 0.2s;
}

#testcard3 {
  transition-delay: 0.4s;
  animation: flow 5s infinite;
  animation-delay: 0.4s;
}

#testcard4 {
  transition-delay: 0.6s;
  animation: flow 5s infinite;
  animation-delay: 0.6s;
}

@keyframes flow {
  0% {
    translate: 500% 0;
    opacity: 0;
    transition: translate 0.6s ease-in-out, opacity 0.6s ease-in-out;
  }
  50% {
    translate: 0% 0;
    opacity: 1;
  }
  70% {
    translate: 0% 0;
    opacity: 1;
  }
  95% {
    translate: -500% 0;
    opacity: 0;
    transition: translate 0.6s ease-in-out, opacity 0.6s ease-in-out;
  }
  100% {
    translate: 500% 0;
    opacity: 0;
    transition: translate 0.6s ease-in-out, opacity 0.6s ease-in-out;
  }
}
.team-member__wrapper {
  display: grid;
  place-content: center;
  display: block;
  width: 100%;
  height: 80%;
}
.team-member__wrapper:nth-child(odd) {
  margin-top: 4vw;
}
.team-member__wrapper:nth-child(even) {
  margin-top: -4vw;
}
.team-member__wrapper.team-member__wrapper:hover .team-card__frame {
  transform: rotateY(180deg);
}
.team-member__wrapper.team-member__wrapper:hover .team-card__frame .team-card__back .team-card_img {
  translate: -50% 0px;
}
.team-member__wrapper .team-card__frame {
  display: grid;
  place-content: center;
  display: block;
  width: 20rem;
  height: 25rem;
  position: relative;
  transition: transform 0.8s;
  transform-style: preserve-3d;
  perspective: 500px;
  border-radius: 2rem;
}
.team-member__wrapper .team-card__frame .team-card__front {
  display: block;
  width: 20rem;
  height: 25rem;
  background: linear-gradient(to bottom, hsl(141, 45%, 38%), hsl(141, 45%, 56%));
  position: absolute;
  border-radius: inherit;
}
.team-member__wrapper .team-card__frame .team-card__front span {
  display: block;
  width: 80%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-inline: auto;
}
.team-member__wrapper .team-card__frame .team-card__front span p,
.team-member__wrapper .team-card__frame .team-card__front span a {
  transform: rotateY(180deg);
  width: 90%;
  margin-inline: inherit;
}
.team-member__wrapper .team-card__frame .team-card__front span p {
  color: red;
  padding-top: 2rem;
}
.team-member__wrapper .team-card__frame .team-card__front span a {
  align-self: flex-end;
  padding-bottom: 2rem;
}
.team-member__wrapper .team-card__frame .team-card__back {
  display: block;
  width: 20rem;
  height: 25rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  background: linear-gradient(to bottom, hsl(141, 45%, 38%), hsl(141, 48%, 62%));
  position: absolute;
  backface-visibility: hidden;
  border-radius: 2rem;
}
.team-member__wrapper .team-card__frame .team-card__back .team-card_img {
  display: block;
  width: 75%;
  height: 90%;
  position: absolute;
  top: 0;
  left: 50%;
  right: 0;
  bottom: 0;
  z-index: 0;
  translate: -50% -90px;
  transition: translate 0.3s, height 0.4s;
  margin-inline: auto;
  border-radius: inherit;
  background: hsl(0, 0%, 99%);
  background-image: url("/assets/svg/Images-pana.svg");
  background-position: center center;
  background-repeat: no-repeat;
}
.team-member__wrapper .team-card__frame .team-card__back p {
  margin-bottom: 1rem;
}
.team-member__wrapper .team-card__frame .team-card__back .team-card-icons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  display: block;
  width: 70%;
  height: 15%;
  margin-inline: auto;
  gap: 0.7rem;
}
.team-member__wrapper .team-card__frame .team-card__back .team-card-icons img {
  display: block;
  width: 2rem;
  height: 2rem;
}

#about-page {
  background: linear-gradient(to bottom, hsl(141, 45%, 38%), hsl(141, 45%, 56%));
  width: 100vw;
  height: 100vh;
}
#about-page .about-page__grid {
  display: grid;
  grid-template-columns: 1fr;
  margin-inline: auto;
  width: 90%;
  height: inherit;
}

@media screen and (min-width: 900px) {
  #about-page {
    background: linear-gradient(to bottom, hsl(141, 45%, 38%), hsl(141, 45%, 56%));
    width: 100vw;
    height: 110vh;
  }
  #about-page .about-page__grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    margin-inline: auto;
    margin-left: 1%;
    border-radius: 100px 0 0 100px;
    width: 99%;
    height: 110vh;
    background: hsl(0, 0%, 94%);
  }
  #about-page .about-page__grid .about-page_team-heading {
    grid-column: 1/-1;
    height: 40%;
    display: block;
    padding-inline: auto;
  }
  #about-page .about-page__grid .about-page_team-heading h3,
  #about-page .about-page__grid .about-page_team-heading p {
    width: 80%;
    margin-inline: auto;
    text-align: center;
  }
  #about-page .about-page__grid .about-page_team-heading h3 {
    padding-block: 3rem 2.5rem;
    font-size: clamp(3rem, 10vw, 5rem);
    font-weight: 700;
    color: hsl(141, 45%, 38%);
  }
  #about-page .about-page__grid .about-page_team-heading p {
    padding-bottom: 2rem;
    line-height: 1.2;
    font-size: clamp(1rem, 10vw, 1.5rem);
    font-weight: 300;
    color: #8b8b8b;
  }
}
footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background: hsl(141, 45%, 56%);
  height: 10vh;
  width: 100vw;
}
footer :is(a, p) {
  font-size: clamp(0.9rem, 10vw, 1.1rem);
  font-weight: 300;
  color: #ededed;
  padding-bottom: 0.5rem;
}
footer :is(a) {
  border-bottom: 2px solid transparent;
}
footer :is(a):hover {
  color: hsl(141, 48%, 62%);
  border-color: hsl(141, 48%, 62%);
}
footer :is(a):active {
  color: #8b8b8b;
}
footer :is(a):focus {
  color: hsl(141, 48%, 62%);
  border-color: hsl(141, 48%, 62%);
}
footer .footer-content__wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-inline: auto;
  width: 95vw;
  padding-top: 0.5rem;
}
footer .footer-content__wrapper span {
  display: inline-flex;
  width: 40%;
  gap: 0.6rem;
  justify-content: center;
}
footer .footer-content__wrapper ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}

#ending-page {
  background: darkblue;
}/*# sourceMappingURL=style.css.map */